SDA
.env
streamlit
SDA
datasets
mydatabase.db
table1.csv
table2.csv
__pycache__
__pycache__
departments.csv
mydatabase.db
rag.ipynb
__pycache__/backend.cpython-312.pyc
mydatabase.db
Sales_Report.pdf
M-Review_July 2024 2-1-22
pdfs
